{% extends 'base.html' %}
{% block head %}
<title>Movie Predictor</title>
{% endblock %}

{% block body %}
<div style="max-width:45%; margin: auto; line-height: 2;">
    <h1 style="text-align: center">About This Project</h1>
    <h4 style="color: #333333; text-align: center; white-space: pre-line;">
        If you're reading this that means I applied to your company  :)

        I was inspired to create this project because I felt I didn't learn enough in my Intro to AI course.
        For more information about the accuracy of my model click <a href="/more">HERE</a>.

        This project is based on a Kaggle dataset called TMDB 5000 and follows the same method as a posting <a href="https://www.kaggle.com/code/ash316/what-s-my-score">HERE</a>.
        
        Thanks for checking out my app, I hope you hire me !
    </h4>
</div>
{% endblock %}

{% block footer %}
<h4 style="text-align: auto; margin-left: auto; margin-right: auto">Zach :)</h4>
{% endblock %}